@import '../../main.scss';

$radio_length: 18px;

input[type='radio'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  &:checked + .radio:before {
    transform: scale(1);
  }
}

.radio {
  width: $radio_length;
  height: $radio_length;
  border-radius: 100%;

  background: hsl(0, 0%, 90%);
  position: relative;
  &::before {
    content: '';

    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;

    background: linear-gradient(to right bottom, hsl(189, 100%, 89%), $main_clr);
    transform: scale(0);
    transition: 0.2s;
  }
}
